.alphabet__item{
  background: none;
  border: 2px solid red;
  border-radius: 5px;
  font: inherit;
  line-height: 1;
  margin: 0.1em;
  padding: 0.2em 0.2em;
  color: #70d6ff;
  transition: 0.25s;
  cursor: pointer;
  list-style: none
}

.alphabet__item:hover,
.alphabet__item:focus {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

.alphabet__item {
  font-weight: 400;
  white-space: nowrap;
}